{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "chrome": "53" // Target browser (Chromium 53)
        },
        "useBuiltIns": "usage", // Polyfills on demand
        "corejs": 3 // Specify core-js version
      }
    ],
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}